@use '../custom' as *;
@use '../components/mixins' as *;

.container-contato{
    text-align: center;
    background-color: $baby-blue; 
    .section-contato{
        // justify-content: space-between; 
    
        text-align: center;
    }
}

.icon img{
    width: 20px;
    height: 20px;
}
