@use '../custom' as *;
@use '../components/mixins' as *;
.accordion{
   text-align: center;
   width: 80%;
   margin: 0 auto;


   border-radius: 15px;
   overflow: hidden;


}
.accordion-body {
   position: relative; /* Garante que o conteúdo fique contido dentro do accordion */
 }

 .accordion-collapse {
   overflow: hidden;
 }

 .icon {
 
    padding: 0 0.7rem;
    
    a {
      // color: $white;
      // display: flex;
      color: $black;
      text-transform: capitalize;
      font-weight: 600;
      text-decoration: none;
    }
    a:hover{
      color: $dark-blue;
    }
   
}


.container-logo {
  display: flex;
  // justify-content: flex-start;
  justify-content: space-between;
  align-items: center; 
  margin: 50px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.icon-logo {
  margin-right: 20px;
}

.icon-logo img {

  max-width: 100%;
  height: auto;
}

.icon-logo:last-child {
  margin-right: 0; }
