@use '../custom' as *;
@use '../components/mixins' as *;


.carrossel-fotos {
    display: flex;
    justify-content: center;
    padding: 1rem; 

}
.fotos-lab {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 400px;
    height: auto;
    margin: 0 auto;


}
.fotos-lab img {
     width: 200px;
     height: 300px; 
     object-fit: cover; 
     border-radius: 5px;    
     
     
     object-fit: cover; 
     
     
     margin-bottom: 1rem; 

}