@use '../custom' as *;
@use '../components/mixins' as *;

.sobre-mim{
    padding-right: 40px;
    padding-top: 360px;
    column-count: 2;
    // column-width: 250px; 
    text-align: center;
    columns: 2 450px;
    // column-rule: 3px solid #333;
    column-gap: 3rem;

    
    @media (max-width: 768px) {
        padding-right: 1rem;
        padding-top: 2rem;
        columns: 1;
        
        .icone-sobre {

        img{
        width: 200px;
        height: auto;}
        }
    }
    .download-btn {
        @include gradient;
        display: inline-block;
        padding: 10px 50px;
        font-size: 16px;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }
    
    .download-btn:hover {
        background-color: #0056b3;
    }
}
 
.icone-sobre {
    padding-left: 30px;
    margin-top: 0;
    color: #fff;
    padding: 1rem;
    break-inside: avoid; 
    break-before: column; 
    
    img {
        width: 400px; // Ajuste conforme necessário
        height: auto; // Mantém a proporção da imagem
    }
}


.sobre-mim h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

.sobre-mim p {
    margin-top: 0;
    margin-bottom: 40px;

}


.download-btn {
    @include gradient;
    display: inline-block;
    padding: 10px 50px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #0056b3;
}