@use '../custom' as *;
@use '../components/mixins' as *;

div{
font-family: "Comfortaa", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

.nome-rafa{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.textos h1{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.baixar-cv{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


  